body {
    background-color: #EBEBEB;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 15pt;
    margin: 0;
    padding: 0;
    width: 100%;
}

h1 {
    font-size: 40px;
    margin-bottom: 30px;
    margin-top: 50px;
    font-family: 'IBM Plex Mono', monospace;
}

p {
    font-size: 15pt;
    line-height: 1.5;
    font-family: 'IBM Plex Mono', monospace;
    padding: 20px 40px 20px 40px;
    color: #3A0CA3;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3A0CA3;
    color: #3A0CA3;
    padding: 10px 10px 10px 10px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin: 0 10px;
}

.menu a {
    color: #3A0CA3;
    text-decoration: none;
    font-size: 30pt;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #04052E;
    color: #EBEBEB;
    padding: 1rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #85819c;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 40px;
    margin: 0 1rem;
}

nav a {
    color: #3A0CA3;
    text-decoration: none;
}

nav a:hover {
    color: #EBEBEB;
    text-decoration: underline;
}

.linkedin-icon {
    color: #0077B5; 
    font-size: 24px;
 
}

/* Creates a flex container for the blog post section with a flexbox layout, background color, and full width */

.blogs-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .blog-box {
    width: calc(30% - 10px);
    margin-bottom: 20px;
  }
  
  .blog-box-img {
    width: 30%;
    height: auto;
    border-radius: 5px;
    
  }
   
   @media only screen and (max-width: 768px) {
     .blog-box-img {
       display: none;
     }
   }

  @media screen and (max-width: 768px) {
    .blogs-container {
      flex-direction: column;
    }
    
    .blog-box {
      width: 100%;
    }
  }

  .blog-box a {
    color: #EBEBEB;
    background-color: #04052E;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
  }

  .blog-box a:hover {
    color: #EBEBEB;
    background-color: #3A0CA3;
    
  }
  
  .about-leroy {
    text-align: center;
    padding: 5px;
    margin: 40px 10px 40px 10px;
    background-color: #D6D6D6;
    border-radius: 5px;
}

footer {
    color: #EBEBEB;
    background-color: #3A0CA3;
    padding: 40px;
    text-decoration: none;
}

a:-webkit-any-link {
  color: #FF0000; 
  text-decoration: none; 
  cursor: pointer; 
}

a:-webkit-any-link:hover {
  color: #FF0000; 
  text-decoration: underline; 
  cursor: pointer; 
}

article {
  display: grid;
  grid-template-columns: 1fr 0.5in [start] 1.25in 5in 1.25in [end] 0.5in 1fr;
  padding: 0.5in 0;
  margin: 0.5fr 0.5in 0 0.5in;
}
article * { grid-column: start / end; }
@media (max-width: 500px) {
  article { grid-template-columns: 0.5fr 1.5% [start] 15% 70% 15% [end] 1.5% 0.5fr; 
  justify-items: center;
  background-size: 100%;
  }
}

@media (max-width: 8.5in) { :root { font-size: 18px; }}
@media (max-width: 5.0in) { :root { font-size: 16px; }}

