body {
    background-color: #6A6680;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 15pt;
    margin: 0;
    padding: 0;
    width: 100%;
}
h1 {
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: 'IBM Plex Mono', monospace;
}

h2 {
    font-size: 25pt;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'IBM Plex Mono', monospace;
}

h3 {
    font-size: 18pt;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'IBM Plex Mono', monospace;
}

time {
    font-size: 18pt;
    margin: 20px 0 20px 0;
    padding: 40px;
    font-family: 'IBM Plex Mono', monospace;

}

p {
    font-size: 15pt;
    text-align: left;
    line-height: 1.5;
    font-family: 'IBM Plex Mono', monospace;
    padding: 20px 0px 20px 0px;
    color: #fff;
    margin-bottom: 10px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6A6680;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin: 0 10px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-size: 30pt;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #85819c;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    background-color: #6A6680;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 40px;
    margin: 0 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #85819c;
    width: 100%;
}

article a:hover {
  background-color: #000000;
  padding: 10px;
  line-height: 2;
}
footer {
    color: #fff;
    background-color: #000;
    padding: 40px;
}

article {
    display: grid;
    grid-template-columns: 1fr 0.5in [start] 1.25in 5in 1.25in [end] 0.5in 1fr;
    padding: 0.5in 0;
    margin: 0.5fr 0.5in 0 0.5in;
  }
  article * { grid-column: start / end; }
  @media (max-width: 500px) {
    article { grid-template-columns: 0.5fr 1.5% [start] 15% 70% 15% [end] 1.5% 0.5fr; 
    justify-items: center;
    background-size: 100%;
    }
  }

  @media (max-width: 8.5in) { :root { font-size: 18px; }}
  @media (max-width: 5.0in) { :root { font-size: 16px; }}

  figure {
    display: flex;
    justify-content: center;
  }
  
  figcaption {
    display: flex;
    justify-content: center;
  }

  a {
    color: white;
  }
  
  a:hover {
    color: black;
  }

  img {
    max-width: 100%;
    height: auto;
  }
  
  @media only screen and (max-width: 767px) {
    img {
      max-width: 80%;
    }
  }