/* Applies a background color, text alignment, font, and size to the entire webpage */
body {
    background-color: #6A6680;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 15pt;
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Styles the page title with a large font size and margins */
h1 {
    font-size: 50pt;
    margin-bottom: 100px;
    margin-top: 50px;
    font-family: 'IBM Plex Mono', monospace;
}

/* Styles paragraph text with a font and size */
p {
    font-size: 20pt;
    font-family: 'IBM Plex Mono', monospace;
    padding: 20px;
}

/* Styles the main navigation bar with a flexbox layout, background color, and text color */
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6A6680;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

/* Removes bullets from the unordered list inside the main navigation bar */
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

/* Adds a margin between each list item inside the main navigation bar */
.menu li {
    margin: 0 10px;
}

/* Styles the links inside the main navigation bar with a font color and no text decoration */
.menu a {
    color: #fff;
    text-decoration: none;
}

/* Styles the secondary navigation bar with a flexbox layout, background color, and text color */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

/* Styles the logo inside the secondary navigation bar with a font size, weight, and color */
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #85819c;
}

/* Removes bullets from the unordered list inside the secondary navigation bar */
nav ul {
    display: flex;
    list-style: none;
}

/* Adds a margin between each list item inside the secondary navigation bar */
nav li {
    margin: 0 1rem;
}

/* Styles the links inside the secondary navigation bar with a font color and no text decoration */
nav a {
    color: #fff;
    text-decoration: none;
}

/* Styles the links inside the secondary navigation bar when hovered over with a font weight, color, and underline */
nav a:hover {
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

/* Styles the LinkedIn icon with a font color and size */
.linkedin-icon {
    color: #0077B5; /* LinkedIn blue */
    font-size: 24px; /* adjust size as needed */
    /* add other styles as needed */
}

/* Creates a flex container for the blog post section with a flexbox layout, background color, and full width */
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #85819c;
    width: 100%;
}
